body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: linear-gradient(45deg, #993bf0, #2c3dee);
    color: white;
    padding: 20px;
    text-align: center;
    width: calc(100% - 40px);
    margin-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

section {
    padding: 10px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projeto {
    margin-bottom: 20px;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
}

.contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato form label {
    margin-bottom: 5px;
}

.contato form input, .contato form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

.contato form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7%;
}

.contato form button:hover {
    background-color: #45a049;
}

.project-image {
    max-width: 100%; 
    max-height: 300px; 
    margin-top: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.project-link {
    text-decoration: none;
    cursor: pointer;
    color: #2c3dee;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
